<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/style/reset.css">
    <link rel="stylesheet" href="/style/app.css">
</head>
<body>
    <div class="overlay">
        <div class="cam">
            <div class="cam-container">
                <img id="receivedFrame" src="" alt="Frame">
                <video id="video" autoplay playsinline style="display: none;"></video>
            </div>
            <img src="/image/gif.gif" alt="" class="placeholder">
            <img src="/image/gif.gif" alt="" class="animation">
        </div>

        <div class="red">
        </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        // Vérifier les changements dans localStorage
        window.addEventListener('storage', (event) => {
            if (event.key === 'moveDiv') {
                const div = document.querySelector('.red');
                div.style.right = '-10%';
            }
        });

        socket.on('videoFrame', (data) => {
            // Utiliser les données reçues pour mettre à jour l'image
            var img = document.getElementById('receivedFrame');
            img.src = data;
        });

        if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
            navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                var video = document.getElementById('video');
                video.srcObject = stream;
                video.play();

                // Capturez et envoyez l'image toutes les secondes (par exemple)
                setInterval(() => {
                    var canvas = document.createElement('canvas');
                    canvas.width = video.videoWidth;
                    canvas.height = video.videoHeight;
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
                    var data = canvas.toDataURL('image/jpeg', 0.06);

                    // Envoyer l'image encodée via WebSocket
                    socket.emit('videoFrame', data);
                }, 17);
            }).catch(function(error) {
                console.log("Erreur lors de l'accès à la caméra: ", error);
            });
        }
    </script>

</body>
</html>